.playlist{
    width: 33%;
    margin-left: 62vw;
}
.controller,.list,.list_items{
    width: 100%;
}
.controller{
    height: 10vh;
    border-top:1px solid rgba(56, 56, 56, 0.678)
}
.controller>button{
    padding: 7px 12px !important;
    font-size: 13px !important;
    margin-left: 5px !important; 
}
.list_items{
    height: 20vh;
    display: flex;
    justify-content: space-between;
}
.thumb{
    width: 45%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.pinfo{
    width: 50%;
    color: white;
}
.ptitle{
    font-size: 14px;
}
.pname{
    padding-top:5px;
    font-size: 12px;
}
